# Secrets & Keys
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
*.csv
*.xlsx

# OS
.DS_Store
Thumbs.db
# Add these lines
*.sol
*.xlsx
*.html
test_*.html